@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1a1a1a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-burgundy: #5c0018;
  --color-burgundy-dark: #420010;
  --color-cream: #f4f4f4;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-playfair);
}

body {
  background: var(--background);
  color: var(--foreground);
}
