@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1a1a1a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-burgundy: #760605;
  --color-burgundy-dark: #550404;
  --color-cream: #FBFCEB;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-black-han-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
}
